.div_fiche h1 {
    font-family: "Oregano", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 2.63em;

    width: 100%;
    text-align: center;
}

.div_titre_fiche {
    margin-top: 10px;
    text-decoration: underline;
    font-family: "Itim", cursive;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 5px;
}

.div_titre_fiche.titre1 {
    text-align: center;
    font-size: 2em;
}

.div_titre_fiche.titre2 {
    text-align: center;
    font-size: 1.7em;
}

.div_titre_fiche.titre3 {
    text-align: center;
    font-size: 1.45em;
}

.div_titre_fiche.titre4 {
    text-align: center;
    font-size: 1.33em;
}

.div_titre_fiche.titre5 {
    text-align: left;
    font-size: 1.33em;
}

.div_titre_fiche.titre6 {
    font-weight: 600;
    font-size: 1.11em;
}

.div_titre_fiche.normal {
    font-weight: 500;
    font-size: 1em;
}

/* def */
.div_def_fiche.first {
    position: relative;
    margin-top: 2.8em;
}

.div_def_fiche.first::before {
    content: "Définition";

    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;

    font-size: 2em;

    text-decoration-color: var(--texte-low-constrast);
    color: var(--texte-low-constrast);

    position: absolute;
    transform: translateY(-100%) translateX(10px);
}


.div_defs_fiche:hover {
    background-color: var(--selection-color);
    cursor: pointer;
}

.div_defs_fiche.important{
    position: relative;
}
.div_defs_fiche.important::before {
    position: absolute;
    top: 0px;
    z-index: -1;
    right: 0px;
    opacity: 0.7;
    background: url(/img/tache2.png);
    content: " ";
    width: 105%;
    height: 110%;
    min-height: 80px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform: translateY(calc(2px));
    filter: brightness(0.6);
}
/* txt */

.div_txt_fiche {
    margin-top: 1em;
}

.div_txt_fiche.important {
    position: relative;
    margin-top: 1.5em;
    margin-bottom: 2em;
}

.div_txt_fiche.important::before {
    position: absolute;
    top: 0px;
    z-index: -1;
    right: 0px;
    opacity: 0.7;
    background: url(/img/tache2.png);
    content: " ";
    width: 105%;
    height: 130%;
    min-height: 80px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform: translateY(calc(-5% - 10px));
    filter: brightness(0.6);
}

/* modif def */
.notif{
    position: absolute;
    transform: translateY(-40px) translateX(15px);

    background-color: #fff;
    border: 2px solid var(--border-color);
    padding: 10px;
    border-radius: 10px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.notif button {
    padding: 5px;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    color: #000;
    font-size: 1em;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
    transition: color 0.2s;
}
.notif button:hover {
    color: var(--contrast-color);
}
.notif input[type="color"] {
    padding: 5px;
    height: 30px;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    color: #000;
    font-size: 1em;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
    transition: color 0.2s;
}

@keyframes show_notif {
    0% {
        transform: translate(-25%, -100%) scale(0);
        opacity: 0;
    }
    60% {
        transform: translate(-25%, -100%) scale(1.15);
        opacity: 1;
    }
    80% {
        transform: translate(-25%, -100%) scale(0.95);
    }
    100% {
        transform: translate(-25%, -100%) scale(1);
    }
}
@keyframes hide_notif {
    0% {
        transform: translate(-25%, -100%) scale(1);
        opacity: 1;
    }
    20% {
        transform: translate(-25%, -100%) scale(1.1);
    }
    40% {
        transform: translate(-25%, -100%) scale(0.9);
    }
    100% {
        transform: translate(-25%, -100%) scale(0);
        opacity: 0;
    }
}

.div_txt_fiche ul {
    margin-left: 40px;
}
.div_txt_fiche ol {
    margin-left: 40px;
}
.div_txt_fiche li{
    margin-bottom: 10px;
}